name: Test
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - sagelib: "9.2"
          - sagelib: "9.3"
          - sagelib: "9.4"
          - sagelib: "9.5"
    steps:
      - uses: actions/checkout@v3
        with: { submodules: recursive }
      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-variant: Mambaforge
          miniforge-version: 23.3.1-0
          python-version: "3.9"   
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          mamba install -n test sagelib=${{ matrix.sagelib }}

          mamba install -n test numpy scipy sympy gap-defaults matplotlib-base maxima ipywidgets

          conda list
      - name: Install sage-train-track
        shell: bash -l {0}
        run: |
          pip install --verbose --no-index .
      - name: Run SageMath doctests
        shell: bash -l {0}
        run: |
          sage -tp --force-lib --long train_track/
      - name: Show logs
        run: grep "" /dev/null `find -name '*.log'` || true
        if: ${{ always() }}

env:
  MAKEFLAGS: -j2
  SAGE_NUM_THREADS: 2
